= provide(:title, 'All users')
%h1 All users
- if current_user.admin?
  %h2 Import Users
  = form_tag import_users_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import", class: 'btn btn-small'
= will_paginate
%ul.users
  = render @users
= will_paginate
