<% provide(:title, @user.name) %>
<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>
  <li><%= link_to 'Users', users_path %><span class="divider">/</span></li>
</ul>
<div class="row">
  <aside class="span7">
    <section>
      <h1><%= @user.name %>,<br /> <%= @user.email %></h1>
    </section>
  </aside>
  <div class="span12">
    <% if @user.assets.any? %>
      <h3>Assets (<%= @user.assets.count %>)</h3>
      <ol class="assets">
        <%= render @asset %>
      </ol>
      <%= will_paginate @asset %>
    <% end %>
  </div>
</div>