= form_for (@asset) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :asset_description, "Asset Description:"
    = f.text_field :asset_description, placeholder: "Insert asset description..."
    = f.label :asset_type, "Asset Type: (Mobile/Laptop/etc)"
    = f.text_field :asset_type, placeholder: "Mobile/Laptop/Computer...?"
    = f.label :serial_no, "Serial No:"
    = f.text_field :serial_no, placeholder: "Insert the serial number"
    = f.label :status, "Asset Status: (Allocated/stock/written off)"
    = f.select :status, options_for_status(params[:defaults])
    = f.label :comment, "Comments:"
    = f.text_field :comment, placeholder: "Any comments?"
    = f.label :date_purchased, "Date Purchased:"
    = f.date_select :date_purchased, order: [:day, :month, :year]
    = f.label :image, "Image"
    = f.file_field :image
  = f.submit "Add", class: "btn btn-primary", id: "ass_sub"
