<li>
  <span class="id"><%= link_to "JTC#{asset.id}", asset %></span>
  <div class="edit">
    <% if current_user.admin? %>
      <%= link_to "edit", edit_asset_path(asset), class: "btn btn-small" %>
    <% end %>
  </div>
  <span class="serial"><%= asset.serial_no %><br /></span>
  <span class="status">Status: <%= asset.status %></span>
  <span class="type">Type: <%= asset.asset_type %><br/></span>
  <span class="description">Description: <%= asset.asset_description %><br /></span>
  <span class="comment"><em><%= asset.comment %></em></span>
  <span class="misc">
    <br />Added <%= time_ago_in_words(asset.created_at) %> ago. <br /> Assigned to: <%= link_to asset.user.name, asset.user %>
    <br />Date Purchased: <%= asset.date_purchased %> 
    <% if current_user.admin? %>
      <br />Cost: <%= number_to_currency(asset.cost, :unit => '£') %>
    <% end %>
  </span><br />
  <span>
    <% if current_user.admin? %>
      <%= link_to "Printable PDF", asset_path(asset, format: "pdf") %>
    <% end %></span>
</li>