/
  \# == Schema Information
  \#
  \# Table name: assets
  \#
  \#  id                :integer         not null, primary key
  \#  asset_description :string(255)
  \#  asset_type        :string(255)
  \#  status            :string(255)
  \#  serial_no         :string(255)
  \#  user_id           :integer
  \#  cost              :decimal(, )
  \#  barcode           :string(255)
  \#  comment           :string(255)
  \#  date_purchased    :date
  \#  created_at        :datetime        not null
  \#  updated_at        :datetime        not null
  \#
- provide(:title, "Edit Asset")
%h1 Update the asset
.row
  .span5.offset3
    = form_for(@asset) do |f|
      = render 'shared/error_messages', object: f.object
      = f.label :asset_description, "Description"
      = f.text_field :asset_description
      = f.label :asset_type, "Asset Type"
      = f.text_field :asset_type
      = f.label :status, "Status"
      = f.select :status, options_for_status(params[:defaults])
      = f.label :serial_no, "Serial No"
      = f.text_field :serial_no
      = f.label :cost, "Cost"
      = f.text_field :cost
      = f.label :barcode, "Barcode:"
      = f.text_field :barcode
      = f.label :comment, "Comments?"
      = f.text_field :comment
      = f.label :date_purchased, "Date Purchased:"
      = f.date_select :date_purchased, order: [:day, :month, :year]
      = f.label :user_id, "Allocated to"
      = collection_select(:asset, :user_id, User.all, :id, :name, prompt: true)
      = f.label :image, "Image"
      = f.file_field :image
      = f.hidden_field :original_updated_at
      = f.submit "Save changes", class: "btn btn-large btn-primary"
